.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}

.nav-menu a {
  padding-left: 10px;
}

.signup {
  border: 1px solid #03a87c;
  border-radius: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  text-align: center;
}

.nav-logo {
  color: black;
  font-size: 24px;
  font-weight: 700;
}