.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  height: 65px;
}

.nav-menu a {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
}

.signup {
  border: 1px solid #03a87c;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  text-align: center;
  &:hover {
    color: #017e5c;
  }
}

.login {
  &:hover {
    color: #017e5c;
  }
}

.nav-logo {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.demo-link {
  color: rgb(151, 150, 150);
  &:hover {
    color: rgb(109, 106, 106);
  }
}

// Logged In

.drop-down-open {
  position: absolute;
  top: 22px;
  right: 116px;
}

.avatar {
  position: relative;
}

.menu {
  position: absolute;
  right: 10px;
  margin-top: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  .profile-info {
    display: flex;
    justify-content: space-evenly;
    .avatar {
      height: 50px;
      width: 50px;
      font-size: 44px;
      margin-top: 10px;
    }
    p {
      line-height: 64px;
      vertical-align: center;
    }
  }
  .item-separator {
    border-top: solid 1px rgba(0,0,0,.05);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .menu-item {
    margin: 10px 25px;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }
}
