.document-editor-buttons {
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
}

#bold-button {
  font-weight: bold;
}

#italic-button {
  font-style: italic;
}

#underline-button {
  text-decoration: underline;
}