.most-popular-numbered-list {
  width: 30px;
  li {
    height: 81px;
    width: 30px;
    margin-top: 4px;
    font-size: 34px;
    color: rgba(0, 0, 0, .15);
  }
}

.most-popular-article-container .article-index-item-container {
  height: 81px;
  width: 261px;
  margin-bottom: 24px;
}